# ReadFile

In [1]:
import pandas as pd

In [3]:
movie = pd.read_csv('/Users/mwang/Downloads/movie.tsv',delimiter='\t')

In [9]:
movie.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Animation
1,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Children's
2,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Comedy
3,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Animation
4,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Children's

In [16]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2101845 entries, 0 to 2101844
Data columns (total 10 columns):
user_id       int64
movie_id      int64
rating        int64
timestamp     int64
gender        object
age           int64
occupation    int64
zip           object
title         object
genres        object
dtypes: int64(6), object(4)
memory usage: 160.4+ MB

# Basic Stat

In [11]:
unique_movie = movie.movie_id.unique()
unique_occupation = movie.occupation.unique()

In [12]:
print("we have %s records, %s movies, %s occupation" %(len(movie),len(unique_movie),len(unique_occupation)))

we have 2101845 records, 3706 movies, 21 occupation

# An aggregate of the movie ratings for each particular genre.

In [15]:
# suppose the aggreage = ratings means
movie.groupby('genres')['rating'].mean()

genres
Action         3.491185
Adventure      3.477257
Animation      3.684895
Children's     3.422087
Comedy         3.522107
Crime          3.708679
Documentary    3.933123
Drama          3.766332
Fantasy        3.447371
Film-Noir      4.075188
Horror         3.215013
Musical        3.665519
Mystery        3.668102
Romance        3.607465
Sci-Fi         3.466521
Thriller       3.570466
War            3.893327
Western        3.637770
Name: rating, dtype: float64

# The top 5 highest ranked genre by occupation.

In [94]:
df = movie.groupby(['occupation','genres'])['rating'].mean().reset_index()

In [95]:
df.head()

   occupation      genres    rating
0           0      Action  3.417847
1           0   Adventure  3.425616
2           0   Animation  3.674843
3           0  Children's  3.438479
4           0      Comedy  3.492581

In [96]:
df_sorted = df.sort_values(['occupation', 'rating'], ascending=[True, False])

In [ ]:
df_sorted.groupby('occupation').head(5)

# The most popular (with most ratings) movie by age group.

In [100]:
movie.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Animation
1,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Children's
2,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Comedy
3,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Animation
4,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Children's

In [113]:
df_agg = movie.groupby(['age','movie_id','title'])['rating'].count().reset_index()

In [104]:
df_sorted = df_agg.sort_values(['age', 'rating'], ascending=[True, False])

In [105]:
df_sorted.groupby('age').head(1)

,age,movie_id,title,rating
778,1,1210,Star Wars: Episode VI - Return of the Jedi (1983),500
3672,18,1210,Star Wars: Episode VI - Return of the Jedi (1983),2930
7081,25,1196,Star Wars: Episode V - The Empire Strikes Back...,5880
10553,35,1196,Star Wars: Episode V - The Empire Strikes Back...,2990
13948,45,1196,Star Wars: Episode V - The Empire Strikes Back...,1130
17247,50,1196,Star Wars: Episode V - The Empire Strikes Back...,1030
20403,56,1196,Star Wars: Episode V - The Empire Strikes Back...,565

# 5

In [109]:
movie[movie['user_id']==2924]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
3,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Animation
4,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Children's
5,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Comedy
8317,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Animation
8318,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Children's
8319,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Comedy
35844,2924,595,5,971592620,F,18,4,94121,Beauty and the Beast (1991),Animation
35845,2924,595,5,971592620,F,18,4,94121,Beauty and the Beast (1991),Children's
35846,2924,595,5,971592620,F,18,4,94121,Beauty and the Beast (1991),Musical
78142,2924,1566,4,971591779,F,18,4,94121,Hercules (1997),Adventure
78143,2924,1566,4,971591779,F,18,4,94121,Hercules (1997),Animation
78144,2924,1566,4,971591779,F,18,4,94121,Hercules (1997),Children's
78145,2924,1566,4,971591779,F,18,4,94121,Hercules (1997),Comedy
78146,2924,1566,4,971591779,F,18,4,94121,Hercules (1997),Musical
81956,2924,588,4,971592620,F,18,4,94121,Aladdin (1992),Animation
81957,2924,588,4,971592620,F,18,4,94121,Aladdin (1992),Children's
81958,2924,588,4,971592620,F,18,4,94121,Aladdin (1992),Comedy
81959,2924,588,4,971592620,F,18,4,94121,Aladdin (1992),Musical
89848,2924,2762,5,971592323,F,18,4,94121,"Sixth Sense, The (1999)",Thriller
95380,2924,1,5,971592588,F,18,4,94121,Toy Story (1995),Animation
95381,2924,1,5,971592588,F,18,4,94121,Toy Story (1995),Children's
95382,2924,1,5,971592588,F,18,4,94121,Toy Story (1995),Comedy
125458,2924,2028,4,971592519,F,18,4,94121,Saving Private Ryan (1998),Action
125459,2924,2028,4,971592519,F,18,4,94121,Saving Private Ryan (1998),Drama
125460,2924,2028,4,971592519,F,18,4,94121,Saving Private Ryan (1998),War
132680,2924,3114,5,971592359,F,18,4,94121,Toy Story 2 (1999),Animation
132681,2924,3114,5,971592359,F,18,4,94121,Toy Story 2 (1999),Children's
132682,2924,3114,5,971592359,F,18,4,94121,Toy Story 2 (1999),Comedy
160203,2924,2628,4,971591840,F,18,4,94121,Star Wars: Episode I - The Phantom Menace (1999),Action
160204,2924,2628,4,971591840,F,18,4,94121,Star Wars: Episode I - The Phantom Menace (1999),Adventure
...,...,...,...,...,...,...,...,...,...,...
1338120,2924,2694,3,971592047,F,18,4,94121,Big Daddy (1999),Comedy
1340731,2924,2485,4,971592323,F,18,4,94121,She's All That (1999),Comedy
1340732,2924,2485,4,971592323,F,18,4,94121,She's All That (1999),Romance
1343530,2924,3004,4,971592021,F,18,4,94121,"Bachelor, The (1999)",Comedy
1343531,2924,3004,4,971592021,F,18,4,94121,"Bachelor, The (1999)",Romance
1344069,2924,3005,5,971592047,F,18,4,94121,"Bone Collector, The (1999)",Thriller
1344878,2924,2719,2,971592178,F,18,4,94121,"Haunting, The (1999)",Horror
1344879,2924,2719,2,971592178,F,18,4,94121,"Haunting, The (1999)",Thriller
1350761,2924,2581,5,971592259,F,18,4,94121,Never Been Kissed (1999),Comedy
1350762,2924,2581,5,971592259,F,18,4,94121,Never Been Kissed (1999),Romance
1391207,2924,2605,4,971592131,F,18,4,94121,Entrapment (1999),Crime
1391208,2924,2605,4,971592131,F,18,4,94121,Entrapment (1999),Thriller
1401209,2924,2701,4,971592379,F,18,4,94121,Wild Wild West (1999),Action
1401210,2924,2701,4,971592379,F,18,4,94121,Wild Wild West (1999),Sci-Fi
1401211,2924,2701,4,971592379,F,18,4,94121,Wild Wild West (1999),Western
1402777,2924,2568,3,971592236,F,18,4,94121,"Mod Squad, The (1999)",Action
1402778,2924,2568,3,971592236,F,18,4,94121,"Mod Squad, The (1999)",Crime
1404094,2924,1911,3,971592105,F,18,4,94121,Doctor Dolittle (1998),Comedy
1406546,2924,2720,3,971592198,F,18,4,94121,Inspector Gadget (1999),Action
1406547,2924,2720,3,971592198,F,18,4,94121,Inspector Gadget (1999),Adventure
1406548,2924,2720,3,971592198,F,18,4,94121,Inspector Gadget (1999),Children's
1406549,2924,2720,3,971592198,F,18,4,94121,Inspector Gadget (1999),Comedy
1408288,2924,2722,4,971592088,F,18,4,94121,Deep Blue Sea (1999),Action
1408289,2924,2722,4,971592088,F,18,4,94121,Deep Blue Sea (1999),Sci-Fi
1408290,2924,2722,4,971592088,F,18,4,94121,Deep Blue Sea (1999),Thriller
1588012,2924,3752,4,971592213,F,18,4,94121,"Me, Myself and Irene (2000)",Comedy
1592150,2924,3273,4,971592323,F,18,4,94121,Scream 3 (2000),Horror
1592151,2924,3273,4,971592323,F,18,4,94121,Scream 3 (2000),Mystery
1592152,2924,3273,4,971592323,F,18,4,94121,Scream 3 (2000),Thriller
2000440,2924,3606,5,971592259,F,18,4,94121,On the Town (1949),Musical