# ReadFile

In [3]:
import pandas as pd

In [4]:
movie = pd.read_csv('/Users/mwang/Downloads/movie.tsv',delimiter='\t')

In [6]:
movie.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Animation
1,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Children's
2,2917,2355,2,971730180,M,25,0,60201,"Bug's Life, A (1998)",Comedy
3,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Animation
4,2924,2355,4,971592069,F,18,4,94121,"Bug's Life, A (1998)",Children's

In [7]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2101845 entries, 0 to 2101844
Data columns (total 10 columns):
user_id       int64
movie_id      int64
rating        int64
timestamp     int64
gender        object
age           int64
occupation    int64
zip           object
title         object
genres        object
dtypes: int64(6), object(4)
memory usage: 160.4+ MB

# Basic Stat

In [9]:
unique_movie = movie.movie_id.unique()
unique_occupation = movie.occupation.unique()

In [10]:
print("we have %s records, %s movies, %s occupation" %(len(movie),len(unique_movie),len(unique_occupation)))

we have 2101845 records, 3706 movies, 21 occupation

# 1. An aggregate of the movie ratings for each particular genre.

In [11]:
# suppose the aggreage = ratings means
movie.groupby('genres')['rating'].mean()

genres
Action         3.491185
Adventure      3.477257
Animation      3.684895
Children's     3.422087
Comedy         3.522107
Crime          3.708679
Documentary    3.933123
Drama          3.766332
Fantasy        3.447371
Film-Noir      4.075188
Horror         3.215013
Musical        3.665519
Mystery        3.668102
Romance        3.607465
Sci-Fi         3.466521
Thriller       3.570466
War            3.893327
Western        3.637770
Name: rating, dtype: float64

# 2. The top 5 highest ranked genre by occupation.

In [12]:
df = movie.groupby(['occupation','genres'])['rating'].mean().reset_index()

In [13]:
df_sorted = df.sort_values(['occupation', 'rating'], ascending=[True, False])

In [14]:
genre_occupation = df_sorted.groupby('occupation').head(5)

# 3. The most popular (with most ratings) movie by age group.

In [15]:
df_agg = movie.groupby(['age','movie_id','title'])['rating'].count().reset_index()

In [16]:
df_sorted = df_agg.sort_values(['age', 'rating'], ascending=[True, False])

In [17]:
movie_age = df_sorted.groupby('age').head(1)